<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Dealership Review</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'djangoapp:contact_us' %}">Contact Us</a>
                    </li>
                    
                    <!-- this is before login  section -->
                    {% if user.is_authenticated %}
                    <section class="ml-auto d-flex">
                                                                                  
                        <div class="d-flex align-items-center mx-3 text-info font-weight-bolder">
                            {% if user.first_name %}
                            {{ user.first_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </div>                             
                        {% if request.resolver_match.url_name == 'dealer_details' %}
                        <a class="mr-2" href="{% url 'djangoapp:add_review' dealer_id dealer_full_name %}">
                            <button class="btn btn-outline-info font-weight-bolder">Add Review</button>
                        </a>
                        {% endif %}
         
                        <a href="{% url 'djangoapp:logout' %}">
                            <button class="btn btn-outline-info">Logout</button>
                        </a>                  
                                          
                    </section>
                    {% else %}
                    <!-- this is after login section -->
                    <section class="ml-auto d-flex">

                        <form class="d-flex" method="post" action="{% url 'djangoapp:login' %}">
                            {% csrf_token %}
                            <section class="d-flex mx-1">
                                <div class="d-flex align-items-center mr-1">
                                    <input
                                    {% if 'login_data' in request.session %} value="{{ request.session.login_data.username }}" {% endif %}
                                    type="text" name="username" id="id_username required class="form-control form-control-sm" placeholder="User name">
                                </div>
        
                                <div class="d-flex align-items-center">
                                    <input
                                    {% if 'login_data' in request.session %} value="{{ request.session.login_data.password }}" {% endif %}
                                     class="form-control form-control-sm" type="password" name="password" id="id_password" required placeholder="Password">
                                </div>
                            </section>                                             
                            <button type="submit" class="btn btn-success mr-1">Log in</button>
                        </form>
                        
                        <a href="{% url 'djangoapp:sign-up' %}">
                            <button class="btn btn-outline-info">Sign up</button>
                        </a>
                                          
                    </section>
                    
                  
                    {% endif %}
                  
                </ul>
            </div>
        </nav>