    {% extends 'djangoapp/layout/master.html' %}      


    {% block body %}
    <style>
        .overflow-ellipsis {
            max-width: 100%;                   
            overflow:hidden; 
            text-overflow:ellipsis; 
            white-space:nowrap; 
        }
        .my-card-style{
            border: 2px solid rgb(17, 17, 17);border-radius: 10px;
            background-color: rgba(165, 164, 167, 0.283);
        }
        .my-card-style:hover{
            background-color: rgba(165, 164, 167, 0.428);
        }
        .modall{
            background-color: rgb(202, 201, 209);
            position: fixed;
            width: 90%;
            z-index: 10;
            top: 30vh;
            left: 5vw;
            border-radius: 10px;
            padding: 8px;
        }
        .close-modal{
            width: 30px;height: 30px;float: right;font-size: 30px;border-radius: 5px;
            cursor: pointer;
        }
    </style>
    <div class="">
        <div class="container">
            <h1 class="mt-2 mb-4">Reviews for {{dealer_full_name}} Dealership</h1>
        </div>
        <div class="card-columns* my-card justify-content-center align-items-center row col-12  bg-light">
            {% for review in reviews %}
            <div class="card* col-3 m-1 my-card-style" onclick="openCardModal(this)">
                {% if review.sentiment == 'positive' %}
                <img class="card-img-tope" src="{{ MEDIA_URL }}/emoji/positive.png" alt="Positive Emoji"
                    style="width: 50px; height: 50px;margin-bottom: 0px;">
                {% elif review.sentiment == 'negative' %}
                <img class="card-img-top" src="{{ MEDIA_URL }}/emoji/negative.png" alt="Negative Emoji"
                    style="width: 50px; height: 50px;">
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}/emoji/neutral.png" alt="Neutral Emoji"
                    style="width: 50px; height: 50px;">

                {% endif %}             
                    <div class="card-body*" style="padding-top:2px;height:150px;">
                        <h5 class="card-titlee m-1">{{ review.name }}</h5>
                        <h5 class="card-title m-1">{{ review.car_model }} {{ review.car_year }}</h5> 
                        <div id="cardText" class="card-text overflow-ellipsis" style="height: 40px;width: 100%;">
                            {{ review.review }}
                            <!-- <p class="card-text overflow-ellipsis">{{ review.review }}</p>                     -->
                        </div>                   
                    </div>             
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div id="modalHolder" class="modall d-none">
        <section onclick="closeModal()" class="bg-info d-flex justify-content-center align-items-center close-modal"> x               
        </section>
        <section id="modalBox">
            
        </section>
    </div>

    <script>
    const openCardModal = (e)=>{
        modalHolder.classList.remove('d-none')
        clonedElement = e.cloneNode(true);
        modalBox=document.getElementById('modalBox')        
        while(modalBox.hasChildNodes()){modalBox.removeChild(modalBox.firstChild)}
        modalBox.insertAdjacentElement('afterbegin',clonedElement)
        const div = modalBox.getElementsByClassName('overflow-ellipsis')        
        const text =  div[0].innerHTML
        console.log(div[0]);
        console.log(text);        
        const spanElement= document.createElement('span')
        spanElement.innerHTML = text       
        modalBox.insertAdjacentElement('beforeend',spanElement)
       
    }
    const closeModal = ()=>{
        modalHolder.classList.add('d-none')
    }
    </script>
    {% endblock %}  